<div class="chrome:nav">
  <div class="chrome:logo_nav_item"><img style="max-width: 180px; transform: rotate(270deg);" src="{{ '/assets/images/white@1x.png' | relative_url }}"></div>
  {% if site.github.repository_url %}
  <div class="chrome:logo_nav_item" title="GitHub Repository">
    <a href="{{ site.github.repository_url }}" target="_blank" rel="noreferrer noopener">
      <img src="{{ '/assets/images/GitHub-Mark-Light-32px.png' | relative_url }}" alt="Link to GitHub Repository">
    </a>
  </div>
  {% endif %}
</div>
